@model List<AutoCollections.Models.ProdutoViewModel>

<div class="carrinho-container">

    <div class="lista-produtos">
        <h2>Produtos</h2>

        @foreach (var item in Model)
        {
            <div class="produto-card">
                <img class="produto-img" src="@item.CaminhoImagem" alt="@item.NomeProduto" />

                <div class="produto-info">
                    <h3>@item.NomeProduto</h3>
                    <p>Cor: @item.CorProduto &nbsp;&nbsp;&nbsp; Escala: @item.Escala</p>
                </div>

                <div class="produto-qtd">
                    <button class="btn-qtd">-</button>
                    <span>Quantidade: @item.QuantidadeEstoque</span>
                    <button class="btn-qtd">+</button>
                </div>

                <div class="produto-preco">
                    R$ @item.PrecoUnitario
                </div>
            </div>
        }
    </div>

    <div class="resumo-compra">
        <h3>Resumo da Compra</h3>

        <div class="linha-resumo">
            <span>Produtos (@ViewBag.QuantidadeTotal)</span>
            <span class="valor">R$ @ViewBag.Total</span>
        </div>

        <button class="btn-finalizar">Finalizar Compra</button>
    </div>

</div>

<link rel="stylesheet" href="/css/Carrinho.css" />
